    header {
      text-align: center;
      background-image: url("./images/2032_watercolor_mark.jpg");
      background-size: cover;
      margin: auto;
      color: white;
    }
    img {
      size: cover;
      width: 115px;
      height: 175px;
      margin: 20px 0px 0px 0px;
      border: 3px solid white;
    }
    a {
      color: white;
    }
    h1 {
      text-transform: uppercase;
      font-family: arial;
      text-align: center;
      color: white;
      margin: 20px 0px 30px 0px;
    }
    h3 {
      background-color: rgb(255,182,193);
      padding: 7px;
      font-family: arial;
      font-size: 14px;
      text-align: center;
      color: white;
    }
    h4 {
      font-family: verdana;
    }
    h5 {
      font-style: italic;
      text-indent: 10px;
      font-size: 13px;
    }
    li {
      font-family: arial;
      font-size: 13px;
    }
    article {
      font-family: arial;
      max-width: 800px;
      padding: 0px;
      margin: 0 auto;
      color: rgb(128,128,128);
      font-size: 13px;
    }
    footer {
      text-align: center;
      color: white;
    }