/*
Project Name: Assignment 2
Client: Relaxr
Author: Yer Nguyen
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

header {

}

h1 {
  font-family: "Open Sans extra bold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin: 50px 0px 0px 200px;
  color: white;
}

h2 {
  font-family: "Open Sans semibold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 50px;
}

h3 {
  font-family: "Open Sans semibold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #033048;
  margin-left: 200px;
  margin-top: -200px;
  background-color: white;
  padding-top: 25px;
}

a {
 border-radius: 5px;
 font-weight: 800;
 padding: 12px 0;
 width: 280px;
 font-size: 28px;
 text-align: center;
 display: block;
 margin: 0 auto;
}

span {
  font-style: none;
  font 
}

footer {
  font-family: "Open Sans extra bold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  background-color: #121212;
  text-align: center;
  padding: 5px 0 0 0px;
}

footer h1 {
  color: #f9e42e;
  text-align: center;
  margin-left: 5px;
}

h6 {
  font-family: "Open Sans semibold", sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: white;
}

footer img {
  margin: 20px 20px 20px 20px;
}

#benefits p {
  font-family: "Open Sans light", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #606161;
  padding: 50px 180px 20px 200px;
  background-color: white;
}

#benefits ul {
  list-style: disc;
  margin: 0px 0px 0px 50px;
  font-family: "Open Sans light", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #606161;
  padding: 10px 180px 0px 200px;
  background-color: white;
}

#testimonial {
  font-family: "Open Sans light", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: white;
  text-align: center;
}

#sign {
  background-color: #033048;
  border: 1px solid #033048;
  color: white;
  font-size: 12px;
}

#yellowBox {
  background-color: #f9e42e;
  padding: 25px 0 25px 0;
}

.button {
  font-family: "Open Sans extra bold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #033048;
  text-align: center;
  border: 1px solid #f9e42e;
  border-radius: 5px;
  background-color: #f9e42e;
  padding: 12px;
  width: 175px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.button p {
  background-color: #033048;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px 5px 0px;
  border: 1px solid #f9e42e;
  border-radius: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




